body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(14, 106, 172, 0.171) 50%, rgba(255,255,255,0) 100%);
}