.header{
   padding: 10px 0;
   .search-box-wrapper{
      .search{
         border: 1px solid #c5c5c5;
         border-radius: 25px;
         padding: 5px 15px;
         input{
            border: none;
         }
      }
   }

   .navbar-nav {
      .nav-item{
         &:not(:last-child){
            margin-right: 20px;
         }
         .nav-link {
            font-weight: 500;
         }
      }
   }
}