p{
   @media screen and (min-width: 1200px){
      white-space: pre-line;      
   }
}

.section-heading{
   color: #025ea1;
   font-weight: 700;
}

.criteria{
   li{
      position: relative;
      padding-left: 35px;
      padding-bottom: 5px;
      &::before{
         content: " ";
         position: absolute;
         width: 20px;
         height: 20px;
         background: url(../images/check.png) no-repeat center center/contain;
         left: 0;
         top: 3px;
      }
   }
}

.fs-14{
   font-size: 14px;
}